<p id="notice"><%= notice %></p>

<h1>Search for an Organization Number by Organization Name</h1>


<h2>Search Form</h2>

<%= form_tag(organizations_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Organization Name" %>
  <%= submit_tag "Search Organizations" %>
<% end %>

<div>
  <% if @organization.present? %>
    <ul>
      <li><%= @organization.name %></li>
      <li><%= @organization.orgnumber %></li>
    </ul>
  <% end %>
</div>

<!-- This is here for basic CRUD. A production app could put these
actions behind an authentication and session mechanism, such as what
you'd get through Devise. -->

<%= link_to 'New Organization', new_organization_path %>

<% if @organization.present? %>
  <%= link_to 'Edit Organization', edit_organization_path(@organization) %>
<% end %>
