<p id="notice"><%= notice %></p>

<h1>Search for an Organization Number by Organization Name</h1>


<h2>Search Form</h2>

<%= form_tag(organizations_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Organization Name" %>
  <%= submit_tag "Search Organizations" %>
<% end %>

<div>
  <ul>
    <li><%= @organization.name %></li>
    <li><%= @organization.orgnumber %></li>
  </ul>
</div>

<%= link_to 'New Organization', new_organization_path %>
